<!-- Breadcrumb Begin -->
<section class="breadcrumb-option set-bg imagen">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb__text">
                  <h2>Handstand training</h2>
                  <div class="breadcrumb__widget">
                      <a href="./index.html">Home</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Breadcrumb End -->

  <!-- Upcoming Classes Section Begin -->
  <section class="upcoming-classes spad">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="section-title normal-title">
                      <h2>Feature Course</h2>
                      <p>The trainings are multi-style and you will learn and practice <br />Handstand Training.</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-6" *ngFor="let item of [1,2,3]">
                  <div class="classes__item">
                      <div class="classes__item__pic set-bg">
                          <span>20 Jun 2019</span>
                      </div>
                      <div class="classes__item__text">
                          <p>14 Days | Start on 10th Every Month</p>
                          <h4><a [routerLink]="['/']">100 Hour Handstand Training Course</a></h4>
                          <h6>Jordan Lawson <span>- Yoga Teacher</span></h6>
                          <a [routerLink]="['/']" class="class-btn">AGREGAR AL CARRITO</a>
                      </div>
                  </div>
              </div>

              <!--
              <div class="col-lg-4 col-md-6">
                  <div class="classes__item">
                      <div class="classes__item__pic set-bg">
                          <span>20 Jun 2019</span>
                      </div>
                      <div class="classes__item__text">
                          <p>14 Days | Start on 10th Every Month</p>
                          <h4><a [routerLink]="['/']">200 Hour Handstand Training Course</a></h4>
                          <h6>Jordan Lawson <span>- Yoga Teacher</span></h6>
                          <a [routerLink]="['/']" class="class-btn">AGREGAR AL CARRITO</a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="classes__item">
                      <div class="classes__item__pic set-bg">
                          <span>20 Jun 2019</span>
                      </div>
                      <div class="classes__item__text">
                          <p>14 Days | Start on 10th Every Month</p>
                          <h4><a [routerLink]="['/']">300 Hour Handstand Training Course</a></h4>
                          <h6>Jordan Lawson <span>- Yoga Teacher</span></h6>
                          <a [routerLink]="['/']" class="class-btn">AGREGAR AL CARRITO</a>
                      </div>
                  </div>
              </div>
-->
          </div>
      </div>
  </section>
  <!-- Upcoming Classes Section End -->

<!-- Classes Section Begin -->
<section class="classes-details spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <div class="classes__sidebar">
                 <!-- <div class="classes__sidebar__item classes__sidebar__item--info">
                      <h4>Classes Information</h4>
                      <ul class="classes__sidebar__item__widget">
                          <li><span class="icon_calendar"></span> Mon, Wed, Fri</li>
                          <li><span class="icon_clock_alt"></span> 18:30 - 19:30</li>
                      </ul>
                      <ul class="classes__sidebar__item__id">
                          <li><span class="icon_pin_alt"></span> 184 Main Collins Streets, New York</li>
                          <li><span class="icon_id"></span> Jordan Lawson</li>
                      </ul>
                  </div>
                  -->
                  <div class="classes__sidebar__item">
                      <h4>Review & Comment</h4>
                      <div class="classes__sidebar__comment__list">
                          <div class="classes__sidebar__comment">
                              <div class="classes__sidebar__comment__pic">
                                  <img src="../../../assets/img/classes-details/comment-1.png" alt="">
                              </div>
                              <div class="classes__sidebar__comment__text">
                                  <span>04 Mar 2018</span>
                                  <h6>Brandon Kelley</h6>
                                  <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                      adipisci velit,</p>
                              </div>
                          </div>
                          <div class="classes__sidebar__comment">
                              <div class="classes__sidebar__comment__pic">
                                  <img src="../../../assets/img/classes-details/comment-2.png" alt="">
                              </div>
                              <div class="classes__sidebar__comment__text">
                                  <span>04 Mar 2018</span>
                                  <h6>Christina Kelley</h6>
                                  <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-8">
              <div class="classes__details">
                  <div class="classes__details__large">
                      <img src="../../../assets/img/classes-details/cd-large.jpg" alt="">
                      <span>Beginer</span>
                  </div>
                <h2>100 Hour Handstand Training Course</h2>
                <p>¿Has soñado con hacer un handstand con elegancia y confianza? ¡Este es el curso perfecto para ti! En Flexilab,
                  ofrecemos un curso intensivo de handstand diseñado para ayudarte a mejorar tu técnica y a alcanzar tus objetivos en este ejercicio impresionante.
                  A través de sesiones regulares y un enfoque en el fortalecimiento de los músculos esenciales,
                  te ayudaremos a desarrollar la fuerza y la estabilidad necesarias para lograr un handstand perfecto. <br>
                  <br>
                  Durante el curso, tendrás la oportunidad de trabajar con un instructor altamente capacitado que te guiará en cada sesión
                  y te proporcionará retroalimentación individualizada para asegurarte de que estás haciendo progresos constantes.
                  Además, aprenderás técnicas de warm-up y estiramiento para prevenir lesiones y maximizar tus resultados. <br>
                  <br>
                  No importa si eres un principiante absoluto o si ya tienes algo de experiencia en hacer handstands,
                  este curso está diseñado para adaptarse a tus necesidades individuales y ayudarte a alcanzar tus metas a un ritmo cómodo para ti.
                  ¡Únete a nosotros y descubre la alegría de hacer un handstand con gracia y confianza!</p>
                  <div class="classes__details__item">
                      <div class="row">
                          <div class="col-lg-4 col-md-4">
                              <img src="../../../assets/img/classes-details/cd-item-1.jpg" alt="">
                          </div>
                          <div class="col-lg-8 col-md-8">
                              <div class="row">
                                  <div class="col-lg-6 col-md-6">
                                      <img src="../../../assets/img/classes-details/cd-item-2.jpg" alt="">
                                  </div>
                                  <div class="col-lg-6 col-md-6">
                                      <img src="../../../assets/img/classes-details/cd-item-3.jpg" alt="">
                                  </div>
                              </div>
                              <img src="../../../assets/img/classes-details/cd-item-4.jpg" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="classes__details__desc">
                      <h6>The Secret to improving her height to achieve quick result, If you are going to use a
                          passage of you need to be sure.</h6>
                      <ul>
                            <li><i class="bi bi-check"></i>All their equipment and instruments are alive.</li>
                            <li><i class="bi bi-check"></i>The that about to watched storm, so beautiful
                              terrific.</li>
                            <li><i class="bi bi-check"></i>There are many variations of passages of lorem
                              ppsum available.</li>
                            <li><i class="bi bi-check"></i>If you are going to use a passage of you need to be
                              sure.</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Classes Section End -->
