<section class="portada">
 <div>
  <h1></h1>
  <h4></h4>
  <h5></h5>
  </div>
</section>

<section class="contenido">
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis totam commodi doloribus esse odio odit, quo cum minus voluptatibus. Sint cumque fuga libero dolor praesentium magnam ipsum laudantium modi labore!
      Totam quidem tempora, nesciunt blanditiis incidunt, natus ab qui similique nisi facere quos quod veniam enim error dolor! Magni repellat, aspernatur iusto earum saepe nam fugiat rerum odit ducimus. Optio?
      Itaque ullam earum nemo eveniet aperiam labore, obcaecati animi autem pariatur aspernatur praesentium quis suscipit! Fuga, debitis impedit aliquid harum tenetur, quam veniam facere magni dolor voluptate modi, dolore amet!
    </p>
    <h3>

    </h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab veritatis eveniet iste sed error. Qui, animi earum ut laudantium eaque consequatur natus rerum exercitationem. Tempora eos odit doloremque repellendus nulla?
      Soluta dignissimos unde sunt dolorem impedit consequuntur quo nam fuga recusandae minima natus mollitia numquam vel ducimus rem tenetur id, nostrum tempora voluptas reiciendis assumenda repudiandae perferendis officia. Totam, debitis.
    </p>
    <h3>

    </h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis assumenda dicta, maiores eaque cum reprehenderit alias omnis ab repudiandae labore soluta consequuntur recusandae? Consequatur quia voluptate eligendi. Qui, aliquid explicabo.

    <img src="../../../assets/img/ChakanalogoS.png" alt="">

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis assumenda dicta, maiores eaque cum reprehenderit alias omnis ab repudiandae labore soluta consequuntur recusandae? Consequatur quia voluptate eligendi. Qui, aliquid explicabo.
    </p>
    <div>
      <button>
        <a href="https://www.facebook.com/Chakana-102000000000000" target="_blank">
          <img src="../../../assets/img/facebook.png" alt="">
        </a>
      </button>
    </div>
  </div>

</section>
