<div class="container">
  <h1 class="text-center">Titulo Principal</h1>
  <div class="text-center">
    <button class="btn btn-primary">Boton</button>
  </div>
  <section>
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/img/blog/blog-1.jpg" alt="imagen" height="100%">
      </div>
      <div class="col-md-6">
        <h2>Subtitulo 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima excepturi quaerat doloremque! Libero optio ipsam officia laborum repellendus. Nostrum a ab culpa eveniet expedita vitae quaerat itaque molestias excepturi alias.</p>
        <h2>Subtitulo 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate alias deleniti voluptates impedit itaque! Expedita voluptatem nulla provident. Incidunt dolorem accusantium non autem perspiciatis, minus dolores inventore corrupti facere est.
        At, mollitia? Maxime nesciunt labore quaerat aspernatur quos. Soluta omnis ipsam modi non! Minus enim delectus dolorum, hic, autem repellat atque, sed accusantium modi ratione dolore consequuntur necessitatibus facere quo?</p>
      </div>
    </div>
  </section>
  <section>
    <h2>Subtitulo</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit doloribus quasi aliquam perspiciatis quaerat nisi debitis quis, veritatis non, iure ullam dicta! Aliquam, quo dolorum quas officiis reprehenderit autem omnis.
    Architecto ea a illum dolores officiis deleniti eos cumque, voluptate doloremque accusamus dolore maiores, nisi id est voluptatibus rerum ipsa dignissimos. Ipsum ab mollitia eius, quisquam neque earum amet voluptatibus.
    Magnam voluptate cumque molestiae quos atque? Tempore consequuntur iste, quam doloribus nesciunt quasi! Nemo, quia adipisci. Aperiam dignissimos adipisci quam odit repellendus beatae unde, ratione, eius molestias harum at fuga?</p>
    <div class="text-center">
      <button class="btn btn-secondary">Boton</button>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/img/blog/blog-2.jpg" alt="imagen" height="90%">
      </div>
      <div class="col-md-6">
        <h2>Subtitulo 1</h2>
        <ul>
          <li>Frase 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quas nihil, laboriosam odit, iste, ab animi excepturi tenetur minus pariatur necessitatibus repellat? Autem commodi harum aliquid quis est dolores beatae.
          </li>
          <li>Frase 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quas nihil, laboriosam odit, iste, ab animi excepturi tenetur minus pariatur necessitatibus repellat? Autem commodi harum aliquid quis est dolores beatae.
          </li>

        </ul>
        <h2>Subtitulo 2</h2>
        <ul>
          <li>Frase 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quas nihil, laboriosam odit, iste, ab animi excepturi tenetur minus pariatur necessitatibus repellat? Autem commodi harum aliquid quis est dolores beatae.
          </li>
          <li>Frase 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quas nihil, laboriosam odit, iste, ab animi excepturi tenetur minus pariatur necessitatibus repellat? Autem commodi harum aliquid quis est dolores beatae.
          </li>
          <li>Frase 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quas nihil, laboriosam odit, iste, ab animi excepturi tenetur minus pariatur necessitatibus repellat? Autem commodi harum aliquid quis est dolores beatae.
          </li>

        </ul>
      </div>
    </div>
  </section>

  <!-- Sección con el slogan, botón y precio -->
<section class="slogan-section">
  <div class="container">
    <p class="slogan">Obtén el mejor servicio al mejor precio</p>
    <a href="#" class="btn btn-primary">Comprar ahora</a>
    <p class="price">$19.99</p>
  </div>
</section>

<!-- Sección con formulario de contacto -->
<section class="contact-section">
  <div class="container">
    <h2>Contáctanos</h2>
    <form>
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Ingresa tu nombre">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico">
      </div>
      <div class="form-group">
        <label for="message">Mensaje</label>
        <textarea class="form-control" id="message" rows="3" placeholder="Ingresa tu mensaje"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</section>
