body {
  background-color: #f7f7f7;
  font-family: sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
  color: #333;
}

.btn-primary {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.price {
  font-weight: bold;
  color: #333;
  font-size: 24px;
  margin-top: 20px;
}

form input, form textarea {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

form button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 20
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  color: #333333;
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
}

.section {
  margin-top: 80px;
  margin-bottom: 80px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.btn {
  padding: 15px 30px;
  background-color: #c79c67;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #58787f85;
  color: #ffffff;
}

.form-group {
  margin-top: 40px;
  text-align: left;
}

input, textarea {
  padding: 15px;
  width: 100%;
  font-size: 18px;
  border-radius: 50px;
  border: 1px solid #00b0ff;
  transition: all 0.3s ease;
}

input:focus, textarea:focus {
  border-color: #333;
}

label {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}
