<div class="container">
  <h1 class="text-center">Titulo Principal</h1>
  <section>
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/img/blog/blog-1.jpg" alt="imagen" height="100%">
      </div>
      <div class="col-md-6">
        <h2>Subtitulo 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima excepturi quaerat doloremque! Libero optio ipsam officia laborum repellendus. Nostrum a ab culpa eveniet expedita vitae quaerat itaque molestias excepturi alias.</p>
        <h2>Subtitulo 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate alias deleniti voluptates impedit itaque! Expedita voluptatem nulla provident. Incidunt dolorem accusantium non autem perspiciatis, minus dolores inventore corrupti facere est.
        At, mollitia? Maxime nesciunt labore quaerat aspernatur quos. Soluta omnis ipsam modi non! Minus enim delectus dolorum, hic, autem repellat atque, sed accusantium modi ratione dolore consequuntur necessitatibus facere quo?</p>
      </div>
    </div>
  </section>
  <section>
    <h2>Subtitulo</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit doloribus quasi aliquam perspiciatis quaerat nisi debitis quis, veritatis non, iure ullam dicta! Aliquam, quo dolorum quas officiis reprehenderit autem omnis.
    Architecto ea a illum dolores officiis deleniti eos cumque, voluptate doloremque accusamus dolore maiores, nisi id est voluptatibus rerum ipsa dignissimos. Ipsum ab mollitia eius, quisquam neque earum amet voluptatibus.
    Magnam voluptate cumque molestiae quos atque? Tempore consequuntur iste, quam doloribus nesciunt quasi! Nemo, quia adipisci. Aperiam dignissimos adipisci quam odit repellendus beatae unde, ratione, eius molestias harum at fuga?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt totam eligendi voluptatibus voluptate? Reprehenderit atque nisi nesciunt magni totam, aliquid perspiciatis maxime dignissimos assumenda sint recusandae similique. Recusandae, officiis quasi?
    Voluptatum optio iste similique consequatur voluptas quas unde, autem hic ipsum explicabo. Repellendus earum odio molestias possimus dolor nobis hic nihil a alias quidem nesciunt, vero est, repellat facere at!
    Similique porro quas officia ipsum eligendi mollitia perferendis est dicta quibusdam voluptatum vitae quo expedita ab eos asperiores reiciendis dolores quidem et repellat, magni tenetur reprehenderit nihil? Maxime, quae cumque?
    Similique sint porro, obcaecati eum, aliquid accusantium commodi nulla minima eius quis reprehenderit expedita maiores ullam tempora rem pariatur qui, consectetur corrupti molestias? Iste repellendus, voluptatibus iure ipsa enim culpa.
    Voluptates assumenda optio saepe earum magnam, necessitatibus, vero consequatur voluptatem fugiat laborum repudiandae quo voluptas obcaecati tenetur alias architecto eveniet nemo, deleniti excepturi mollitia. Eos, vel! Quaerat velit quas autem.
    Facilis temporibus ipsa exercitationem dolorum sit velit dolor nihil! Veritatis nam aliquid iusto qui exercitationem praesentium dolorem iure! Deleniti, dolore eum architecto a voluptas totam autem sunt quasi officia illum?</p>

    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam, consequatur laborum deleniti rerum fuga pariatur vel cum a et atque voluptatem natus culpa sed blanditiis nesciunt voluptates provident nam corporis!
      Aut quas aliquam quia. Eligendi incidunt deserunt cumque consectetur molestiae, reprehenderit vitae! Magnam nulla cumque architecto qui ab corrupti exercitationem error, nisi tempore quas eaque eligendi et! Quaerat, sunt minima.
      Quasi, tempora! Ad, alias quas? Voluptates architecto eum aliquam consectetur nesciunt officia alias ipsam nobis at reiciendis nisi repellendus repellat, sunt ex voluptas ipsum quisquam, minima recusandae quod delectus. Nobis.
      Velit dolore, reprehenderit cumque quo ab necessitatibus vero tempora aliquam et placeat alias, optio ullam suscipit! Facilis similique error libero rem eveniet, tenetur ratione impedit earum enim soluta, reiciendis perferendis!
      Et eaque molestias similique enim, fugit odit quia dicta temporibus at officiis quidem cumque sed autem magnam dolorem reiciendis natus consequuntur unde consectetur eius ipsa mollitia. Aliquam id sunt perspiciatis.
      Ipsa voluptate porro illo! Numquam, dolorum! Blanditiis assumenda dolore magnam minima, placeat neque sed porro aut, ab sit quaerat? Quidem consectetur quaerat in recusandae animi vero nemo tempore provident corporis.
      Similique voluptatibus repudiandae atque? Distinctio quisquam temporibus officia illum expedita quae debitis neque esse quia aliquam fuga voluptas libero harum similique amet, voluptate commodi placeat beatae nisi nulla labore inventore.
      Id tenetur ipsum amet eum voluptates libero dolore cumque consequatur eius, deserunt non aliquam quasi perferendis porro natus voluptatum soluta ullam eos magnam officia? Autem assumenda hic nulla animi repellendus.
      Harum laudantium dolores illum unde et facilis nulla voluptas, nisi, ex iure quos consequatur omnis, veritatis aspernatur reiciendis doloremque fugiat nostrum incidunt enim. Dolorum quia qui, est esse vel voluptate?
      Repudiandae, saepe maiores harum hic accusantium iure accusamus blanditiis mollitia tempore recusandae aliquam, iste doloribus itaque veritatis. Molestiae labore iste consequuntur at, eaque sequi aperiam libero quaerat nisi. Similique, sit?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius atque eos ab repudiandae voluptatibus asperiores veniam debitis, quisquam quibusdam aspernatur molestias, ipsam quasi. Reprehenderit, harum nemo. Iusto ex molestiae minus.
      Harum aliquid iusto quo magni ipsa. Ab non officiis fuga! Similique eaque esse ipsa quis? Aspernatur, dignissimos ex officiis quo saepe fugit cumque fugiat aliquid, dolorum quidem placeat dolorem debitis!
      Asperiores accusamus illum nulla perspiciatis officiis consequatur sit, corrupti sapiente labore totam voluptatum reprehenderit et numquam ipsum libero unde, dolorum consequuntur aspernatur quibusdam ducimus! Ea doloribus ex ratione eligendi aut.
      Magni ex, impedit, dolorem ullam blanditiis repellendus possimus similique harum laborum debitis, libero nihil mollitia dolore minima inventore numquam velit itaque placeat sed! Sapiente nulla maxime nisi, aspernatur accusamus voluptatum?
      Molestias velit inventore cumque modi eos nemo eligendi quidem laborum vero mollitia, repellat ad recusandae iure veniam ea. Cum sunt dignissimos consequuntur quas doloremque aspernatur, harum non numquam rerum totam!
      Culpa at repellendus, quibusdam soluta aperiam, vitae qui, laboriosam repudiandae magni quam unde harum ipsa ea. Doloribus nemo et recusandae nam esse libero! Libero nobis ratione aperiam officia? Necessitatibus, laborum.
      Dignissimos totam aperiam doloribus id fuga maiores nemo ducimus officiis nostrum excepturi aspernatur vitae perspiciatis dolorem soluta, quibusdam optio accusamus repudiandae molestiae consequuntur ratione illo, labore sit! Placeat, ea magnam.
      Porro aspernatur explicabo qui, perspiciatis dolorem esse nostrum adipisci officiis labore cupiditate illum provident ratione officia neque modi dignissimos repellendus voluptatibus eaque eum reprehenderit obcaecati, itaque dolore voluptate! Sunt, possimus.
      Dolorem nihil praesentium cum asperiores aperiam quam officia placeat dolor perspiciatis rem? Eveniet est consequuntur delectus id quod dolores, libero placeat cum quibusdam totam sunt voluptatum sint dicta aperiam esse.
      Neque enim voluptatum molestiae accusantium architecto blanditiis pariatur magni. Quasi velit veritatis minima expedita error cum eum maxime iure, corrupti aliquam maiores numquam rerum illo voluptas optio, eaque porro! Similique!
      Accusamus delectus impedit libero consequatur necessitatibus dolorem eveniet reprehenderit omnis iusto minus aliquid, porro possimus, aperiam neque! Fugiat blanditiis at quo quia aliquid laborum soluta omnis repellat, velit debitis corporis?
      Iure deserunt autem voluptates ea earum suscipit? Iusto alias modi quas eaque. Obcaecati aspernatur ut amet assumenda quibusdam debitis dolorum omnis alias asperiores corporis doloremque cumque aliquid, magnam eaque totam.
      Rem ipsa consectetur impedit ullam necessitatibus iure nisi enim doloribus expedita ducimus? Harum tenetur odit quidem illum repellat quaerat impedit saepe! Enim totam vero quas? Iste, saepe! Itaque, magnam recusandae!
      Quisquam rem consectetur dolore incidunt consequuntur! Facilis culpa consequuntur tempore unde laudantium architecto odio porro sed, ea ex dolorem voluptatem sint a et animi maiores ducimus. Sed labore fugiat soluta.
      Error deleniti placeat ipsum quis quas repudiandae neque. Voluptatem, libero fugiat optio quas facilis magnam dolorem molestiae aperiam quod pariatur minima esse vel magni delectus? Obcaecati, tenetur culpa. Tempore, dolorem.
    </p>
  </section>
  <section>
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/img/blog/blog-2.jpg" alt="imagen" height="90%">
      </div>
      <div class="col-md-6">
        <h2>Subtitulo 1</h2>
        <ul>
          <li>Frase 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quas nihil, laboriosam odit, iste, ab animi excepturi tenetur minus pariatur necessitatibus repellat? Autem commodi harum aliquid quis est dolores beatae.
          </li>
          <li>Frase 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quas nihil, laboriosam odit, iste, ab animi excepturi tenetur minus pariatur necessitatibus repellat? Autem commodi harum aliquid quis est dolores beatae.
          </li>

        </ul>
        <h2>Subtitulo 2</h2>
        <ul>
          <li>Frase 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quas nihil, laboriosam odit, iste, ab animi excepturi tenetur minus pariatur necessitatibus repellat? Autem commodi harum aliquid quis est dolores beatae.
          </li>
          <li>Frase 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quas nihil, laboriosam odit, iste, ab animi excepturi tenetur minus pariatur necessitatibus repellat? Autem commodi harum aliquid quis est dolores beatae.
          </li>
          <li>Frase 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quas nihil, laboriosam odit, iste, ab animi excepturi tenetur minus pariatur necessitatibus repellat? Autem commodi harum aliquid quis est dolores beatae.
          </li>

        </ul>
      </div>
    </div>
  </section>

  <!-- Sección con el slogan, botón y precio -->
<section class="slogan-section">
  <div class="container">
    <h6 class="slogan">Sucribite para recibir toda la informacion.</h6>
    <a href="#" class="btn">Comprar ahora</a>
    <p class="price">$19.99</p>
  </div>
</section>

<!-- Sección con formulario de contacto
<section class="contact-section">
  <div class="container">
    <h2>Contáctanos</h2>
    <form>
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Ingresa tu nombre">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico">
      </div>
      <div class="form-group">
        <label for="message">Mensaje</label>
        <textarea class="form-control" id="message" rows="3" placeholder="Ingresa tu mensaje"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</section> -->
