
/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumb-option,
.blog-hero {
	padding-top: 215px;
	padding-bottom: 170px;
	margin-top: -50px;
  background: url(../../../assets/img/ChakanalogoS.png) no-repeat center;
}

.breadcrumb__text,
.blog-hero {
	text-align: center;
}

.breadcrumb__text h2,
.blog-hero h2 {
	font-size: 44px;
	color: #f5f3f2;
	margin-bottom: 6px;
}

.breadcrumb__widget a {
	display: inline-block;
	font-size: 16px;
	color: #f5f3f2;
	font-weight: 700;
	margin-right: 15px;
	position: relative;
}

.breadcrumb__widget a:after {
	position: absolute;
	right: -14px;
	top: 1px;
	font-weight: 400;
	content: "/";
}

.breadcrumb__widget span {
	display: inline-block;
	font-size: 16px;
	color: #f5f3f2;
	font-weight: 400;
}


body {
  background-color: #f7f7f7;
  font-family: sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
  color: #333;
}

.btn-primary {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.price {
  font-weight: bold;
  color: #333;
  font-size: 24px;
  margin-top: 20px;
}

form input, form textarea {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

form button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 20
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  color: #333333;
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
}

.section {
  margin-top: 80px;
  margin-bottom: 80px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.btn {
  padding: 15px 30px;
  background-color: #00b0ff;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #333;
  color: #ffffff;
}

.form-group {
  margin-top: 40px;
  text-align: left;
}

input, textarea {
  padding: 15px;
  width: 100%;
  font-size: 18px;
  border-radius: 50px;
  border: 1px solid #00b0ff;
  transition: all 0.3s ease;
}

input:focus, textarea:focus {
  border-color: #333;
}

label {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}

.slogan-section
{
  background-color: #33333300;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
  text-align: center;
  margin-top: 50px;
  border-top: solid 1px #333333;
  border-bottom: solid 1px #333333;
}

.appointment
{
  margin-bottom: 50px;
}

.seccion_1{
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: solid 1px #333333;
}

.seccion_2
{
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: solid 1px #333333;
}
