
/*---------------------
  Breadcrumb
-----------------------*/
*{
  font-family: 'omnes-light'
}
.breadcrumb-option,
.blog-hero {
	padding-top: 215px;
	padding-bottom: 170px;
	margin-top: -50px;
}

.breadcrumb__text,
.blog-hero {
	text-align: center;
}

.breadcrumb__text h2,
.blog-hero h2 {
	font-size: 44px;
	color: #f5f3f2;
	margin-bottom: 6px;
}

.breadcrumb__widget a {
	display: inline-block;
	font-size: 16px;
	color: #f5f3f2;
	font-weight: 700;
	margin-right: 15px;
	position: relative;
}

.breadcrumb__widget a:after {
	position: absolute;
	right: -14px;
	top: 1px;
	font-weight: 400;
	content: "/";
}

.breadcrumb__widget span {
	display: inline-block;
	font-size: 16px;
	color: #f5f3f2;
	font-weight: 400;
}


/*---------------------
  Leave Comment
-----------------------*/

.leave-comment {
	background: #f5f6fa;
	padding-bottom: 70px;
	padding-top: 80px;
}

.leave__comment__text h2 {
	font-size: 44px;
	color: #585856;
	text-align: center;
	margin-bottom: 35px;
}

.leave__comment__text form input {
	width: 100%;
	font-size: 16px;
	color: #6E7580;
	padding-left: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: #f5f3f2;
	border-radius: 2px;
	height: 50px;
	margin-bottom: 20px;
}

.leave__comment__text form input::placeholder {
	color: #6E7580;
}

.leave__comment__text form .leave__comment__rating {
	margin-bottom: 20px;
}

.leave__comment__text form .leave__comment__rating h5 {
	font-size: 20px;
	color: #585856;
	display: inline-block;
	font-weight: 700;
	margin-right: 12px;
}

.leave__comment__text form .leave__comment__rating i {
	font-size: 16px;
	color: #F5C136;
	margin-right: -4px;
}

.leave__comment__text form .leave__comment__rating i:last-child {
	color: #9B9EA3;
}

.leave__comment__text form textarea {
	width: 100%;
	font-size: 16px;
	color: #6E7580;
	padding-left: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: #f5f3f2;
	border-radius: 2px;
	height: 132px;
	margin-bottom: 35px;
	resize: none;
	padding-top: 14px;
}

.leave__comment__text form textarea::placeholder {
	color: #6E7580;
}


/*---------------------
  Contact
-----------------------*/

.contact {
	padding-bottom: 80px;
}

.contact__widget__item {
	text-align: center;
	margin-bottom: 30px;
}

.contact__widget__item span {
	font-size: 36px;
	color: #58787f;
}

.contact__widget__item h4 {
	color: #585856;
	margin-top: 16px;
	margin-bottom: 5px;
}

.contact__widget__item p {
	color: #9B9EA3;
	margin-bottom: 0;
}
