
    <!-- Breadcrumb Begin -->
    <section class="breadcrumb-option set-bg" data-setbg="img/breadcrumb.jpg">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="breadcrumb__text">
                      <img src="../../assets/img/ChakanaLogo.png" alt="">
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Breadcrumb End -->

  <!-- Leave Comment Begin -->
  <div class="leave-comment comment-form spad">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="leave__comment__text">
                      <h2>Realiza tu consulta</h2>
                      <form action="#">
                          <div class="row">
                              <div class="col-lg-6 col-md-6">
                                  <input type="text" placeholder="Nombre*">
                              </div>
                              <div class="col-lg-6 col-md-6">
                                  <input type="text" placeholder="Email*">
                              </div>
                              <div class="col-lg-12 text-center">
                                  <textarea placeholder="Dejanos tu mensaje aqui."></textarea>
                                  <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Enviar</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Leave Comment End -->

  <!-- Contact Section Begin -->
  <section class="contact pt-5 pb-3">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="contact__widget__item">
                      <span class="icon_phone"></span>
                      <h4>Telefono</h4>
                      <p>+01-3-8888-6868</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="contact__widget__item">
                      <span class="icon_pin_alt"></span>
                      <h4>Email</h4>
                      <p>+01-3-8888-6868</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="contact__widget__item">
                      <span class="icon_clock_alt"></span>
                      <h4>Instagram</h4>
                      <p>+01-3-8888-6868</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="contact__widget__item">
                      <span class="icon_mail_alt"></span>
                      <h4>LinkedIn</h4>
                      <p>+01-3-8888-6868</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Contact Section End -->
