<section class="container-fluid py-5" data-aos="fade-up">
  <div class="content pb-2">
    <div class="container">
      <div class="row align-items-stretch no-gutters contact-wrap">
        <div class="col-md-8">
          <div class="form h-100">
            <h3>Envia un mensaje</h3>
            <form
              class="mb-5"
              method="post"
              id="contactForm"
              name="contactForm"
            >
              <div class="row">
                <div class="col-md-6 form-group mb-5">
                  <label for="" class="col-form-label">Nombre *</label>
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    id="name"
                    placeholder="Tu nombre"
                  />
                </div>
                <div class="col-md-6 form-group mb-5">
                  <label for="" class="col-form-label">Mail *</label>
                  <input
                    type="text"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Tu mail"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 form-group mb-5">
                  <label for="" class="col-form-label">Telefono</label>
                  <input
                    type="text"
                    class="form-control"
                    name="phone"
                    id="phone"
                    placeholder="Telefono"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 form-group mb-5">
                  <label for="message" class="col-form-label"
                    >Mensaje *</label
                  >
                  <textarea
                    class="form-control"
                    name="message"
                    id="message"
                    cols="30"
                    rows="4"
                    placeholder="Escribi tu mensaje...."
                  ></textarea>
                </div>
              </div>
              <div class="row">
                <div class="d-grid col-12 mx-auto justify-content-md-start">
                  <button class="btn btn-primary btn-lg px-4" type="button">
                    Enviar
                  </button>
                </div>
              </div>
            </form>

            <div id="form-message-warning mt-4"></div>
            <div id="form-message-success">
              Tu mensaje se envio, Gracias!!!
            </div>
          </div>
        </div>
        <div class="col-md-4" id="relleno">
          <div class="contact-info h-100">
            <h3>Informacion de contacto</h3>
            <p class="mb-5">
              Para todas las consultas, contactanos por correo electronico llenando el formulario o via whatsapp.
            </p>
            <ul class="list-unstyled">
              <li class="d-flex">
                <span class="wrap-icon icon-phone mr-3"></span>
                <span class="text">+1 (291) 939 9321</span>
              </li>
              <li class="d-flex">
                <span class="wrap-icon icon-envelope mr-3"></span>
                <span class="text">info@mywebsite.com</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- Contact Section Begin -->
  <section class="contact pt-5 pb-3">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="contact__widget__item">
                      <span class="icon_phone"></span>
                      <h4>Telefono</h4>
                      <p>+01-3-8888-6868</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="contact__widget__item">
                      <span class="icon_pin_alt"></span>
                      <h4>Email</h4>
                      <p>+01-3-8888-6868</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="contact__widget__item">
                      <span class="icon_clock_alt"></span>
                      <h4>Instagram</h4>
                      <p>+01-3-8888-6868</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="contact__widget__item">
                      <span class="icon_mail_alt"></span>
                      <h4>LinkedIn</h4>
                      <p>+01-3-8888-6868</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Contact Section End -->
