.custom-navbar {
	background-color: rgba(255, 255, 255, 0.8);
	transition: background-color 0.5s ease;
  }

  body.body-scrolled .custom-navbar {
	background-color: #fff;
  }

.dropdown:hover .dropdown-menu {
	display: block;
  }

@media (max-width: 992px) {
	.navbar-collapse {
	  position: fixed;
	  top: 0;
	  bottom: 0;
	  right: 0;
	  z-index: 1040;
	  display: flex;
	  flex-direction: column;
	  width: 250px;
	  padding: 1.5rem;
	  background-color: white;
	  box-shadow: 0 0 10px rgba(0,0,0,0.2);
	  transform: translateX(100%);
	  transition: transform 0.3s ease-in-out;
	}
	.navbar-collapse.show {
	  transform: translateX(0);
	}
  }

  .btn-orange:hover{
    background-color: #58787f85;
    color: #FFF;
    border: #58787f85;
}

.btn-orange{
    background-color: #c79c67;
    color: #FFF;
    border: #c79c67;
}

@media screen and (max-width: 990px){
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}

@media screen and (min-width: 991px){
  .mobile-only {
    display: none;
  }
  .desktop-only .nav-item{
    display: inline;
  }
}

.offcanvas-end .nav-item:not(.dropdown) {
  min-height: 56px;
}
