<nav class="navbar navbar-expand-lg navbar-light custom-navbar pb-1 mb-md-5 fixed-top" id="navbar">
  <div class="container">
  <a class="navbar-brand" routerLink="/">
    <img src="../../../assets/img/ChakanaLogo.png" width="120" height="30" alt="">
  </a>
  <button class="navbar-toggler order-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav flex-row ml-auto order-1 px-4" style="gap: 10px;">
      <li class="nav-item">
          <a class="text-decoration-none text-w">
              <button type="button" class="btn btn-orange position-relative me-4" routerLink="/carrito">
                  <i class="fas fa-shopping-cart"></i>
                Carrito
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger px-2">
                  0
                </span>
              </button>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/registrar">Register</a>
      </li>
  </ul>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
    <button class="navbar-toggler py-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
      <span class="fas fa-arrow-right"></span>
    </button>
    <ul class="navbar-nav h-100 d-flex justify-content-center align-items-center">
      <li class="nav-item py-2">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/clases" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Clases
          </a>
          <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-muted" routerLink="/subclase">Handstand training</a>
            <a class="dropdown-item text-muted" routerLink="/subclase">Front training</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-muted" routerLink="/subclase">Yoga training</a>
          </div>
        </li>
      <li class="nav-item py-2">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item py-2">
        <a class="nav-link" routerLink="/blog">Blog</a>
      </li>
      <li class="nav-item py-2">
        <a class="nav-link" routerLink="/contacto">Contact</a>
      </li>
      <li class="nav-item d-xl-none">
        <hr>
        <div class="row">
          <a class="nav-link col-6" routerLink="/login">Login</a>
          <a class="nav-link col-6" routerLink="/registrar">Register</a>
        </div>
      </li>
    </ul>
  </div>
  </div>
</nav>

