<!--
<nav class="navbar navbar-expand-lg navbar-light custom-navbar p-0 mb-md-5 fixed-top" id="navbar">
  <div class="container">
  <a class="navbar-brand" routerLink="/">
    <img src="../../../assets/img/ChakanaLogo.png" width="120" height="30" alt="">
  </a>
  <button class="navbar-toggler order-2" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav flex-row ml-auto order-1 px-4" style="gap: 10px;">
      <li class="nav-item">
          <a class="text-decoration-none text-w">
              <button type="button" class="btn btn-success position-relative me-4">
                  <i class="fas fa-shopping-cart"></i>
                Carrito
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger px-2">
                  0
                </span>
              </button>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/registrar">Register</a>
      </li>
  </ul>
  <div class="collapse navbar-collapse" id="navbarNav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          &times;
        </button>
    <ul class="navbar-nav h-100 d-flex justify-content-center align-items-center">
      <li class="nav-item py-2">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/clases" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Clases
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-muted" routerLink="/subclase">Handstand training</a>
            <a class="dropdown-item text-muted" routerLink="/subclase">Front training</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-muted" routerLink="/subclase">Yoga training</a>
          </div>
        </li>
      <li class="nav-item py-2">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item py-2">
        <a class="nav-link" routerLink="/blog">Blog</a>
      </li>
      <li class="nav-item py-2">
        <a class="nav-link" routerLink="/contacto">Contact</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
-->

<nav class="navbar navbar-expand-lg navbar-light custom-navbar py- mb-md-5 fixed-top" id="navbar">
  <div class="container">
  <a class="navbar-brand" routerLink="/">
    <img src="../../../assets/img/ChakanaLogo.png" width="120" height="30" alt="">
  </a>
  <button class="navbar-toggler order-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav flex-row ml-auto order-1 px-4" style="gap: 10px;">
      <li class="nav-item">
          <a class="text-decoration-none text-w">
              <button type="button" class="btn btn-success position-relative me-4">
                  <i class="fas fa-shopping-cart"></i>
                Carrito
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger px-2">
                  0
                </span>
              </button>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/registrar">Register</a>
      </li>
  </ul>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
    <button class="navbar-toggler py-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
      <span class="fas fa-arrow-right"></span>
    </button>
    <ul class="navbar-nav h-100 d-flex justify-content-center align-items-center">
      <li class="nav-item py-2">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/clases" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Clases
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-muted" routerLink="/subclase">Handstand training</a>
            <a class="dropdown-item text-muted" routerLink="/subclase">Front training</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-muted" routerLink="/subclase">Yoga training</a>
          </div>
        </li>
      <li class="nav-item py-2">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item py-2">
        <a class="nav-link" routerLink="/blog">Blog</a>
      </li>
      <li class="nav-item py-2">
        <a class="nav-link" routerLink="/contacto">Contact</a>
      </li>
    </ul>
  </div>
  </div>
</nav>

<!--
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <a class="navbar-brand" href="#">Offcanvas navbar</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>
-->
