  <!-- About Section Begin -->
  <section id="aboutme">
    <div class="row m-0">
      <div class="col-12 col-lg-5 d-flex justify-content-center align-items-center presentation" style="height: 80vh;">
          <img src="../../assets/img/ana1.jpg" alt="" width="70%" height="70%" class="object-fit-cover">
      </div>

      <div class="col-12 col-lg-7 d-flex  align-items-center py-5 text-white presentation" style="background-color: rgba(2, 2, 10, 0.835);" >
          <div class="px-5">
            <h1><b>Hi,</b></h1>
            <h1><b>I´m Ana</b></h1>
            <h5 class="text-white-50" style="max-width: 600px;">
              Fundadora y Directora del Circo de las Artes, una escuela de Formación Superior en Circo y Danza única en su tipo.
              Creadora del programa de estudios desde su comienzo.
              Profesora de ballet, flexibilidad y creadora del método BATA de trabajo y conciencia corporal.
              Directora y coreografa de mas de 10 obras, 30 números de circo y diferentes piezas de danza y circo que han recorrido festivales y teatros en todo el mundo.
              Mi calidad de creacion busca llevar la técnica a la perfección y el arte a su máxima expresión para resaltar lo mejor de los intérpretes .
              Reciente estudiante y fan de pole dance porque nunca es tarde para aprender algo nuevo.
              Enfocada en hacer del arte un vehículo para un cambio cultural, donde la salud humana,
              el cuidado del planeta y el resto de los seres vivos sean una constante que ayude a mejorar el mundo en el que vivimos y la vida de todos.
              Utilizo mi vida para moldear,inspirar y difundir habitos saludables y motivar a los demas a hacerlo.
              El mundo no cambia con las palabras pero si con los actos.
            </h5>
          </div>
      </div>

    </div>
</section>
  <!--  end   -->

  <!-- About Section Begin -->
  <section class="about spad" >
    <div class="container">
      <div class="row">
                  <!-- Counter Begin -->
        <div class="counter spad">
              <div class="container">
                  <div class="counter__text set-bg" id="bg-counter">
                      <div class="counter__item">
                          <div class="counter__item__icon">
                              <img src="../../assets/img/counter/counter-1.png" alt="">
                          </div>
                          <div class="counter__item__text">
                              <h2>997</h2>
                              <p>Students</p>
                          </div>
                      </div>
                      <div class="counter__item">
                          <div class="counter__item__icon">
                              <img src="../../assets/img/counter/counter-2.png" alt="">
                          </div>
                          <div class="counter__item__text">
                              <h2>25</h2>
                              <p>Years Of Experience</p>
                          </div>
                      </div>

                      <div class="counter__item">
                          <div class="counter__item__icon">
                              <img src="../../assets/img/counter/counter-4.png" alt="">
                          </div>
                          <div class="counter__item__text">
                              <h2>14</h2>
                              <p>Expert Staffs</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
                <!-- Counter End -->
      </div>
    </div>
</section>
<!-- About Section End -->

<section class="mb-5 pb-5" id="aboutme2">
    <div class="row mx-0 px-2 px-md-5 mx-xl-5 text-black" style="min-height: 90vh;">
      <div class="col-12 col-xl-5 m-0 p-0 pb-5 pt-4">
          <img src="../../assets/img/ana2.jpg" alt="" width="84%" height="80%" class="object-fit-cover">
      </div>
      <div class="col-12 col-xl-7">
          <div class="row h-100">
              <div class="col-12 col-xl-12 container pb-xl-5">
                  <h1 class="fs-0">Transforma tu mente y cuerpo</h1>
              </div>
              <div class="col-12 col-xl-5 d-flex justify-content-end align-items-end">
                  <img src="../../assets/img/ana3.jpg" alt="" width="90%" height="80%" class="object-fit-cover">
              </div>
              <div class="col-12 col-xl-7 pt-5 py-xl-0">
                  <h4 class="text-secondary">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis expedita quibusdam nostrum harum quos
                      molestias esse natus velit voluptatibus ipsa assumenda illum, et eius incidunt. Veniam animi pariatur
                      id nulla! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis expedita quibusdam nostrum harum
                      quos molestias esse natus velit voluptatibus ipsa assumenda illum, et eius incidunt. Veniam animi pariatur
                      id nulla! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis expedita quibusdam nostrum harum
                  </h4>
              </div>
          </div>
      </div>
  </div>

</section>




