
/*---------------------
  Home About
-----------------------*/
.presentation{
  padding-top: 40px;
}
.container {
  max-width: 1170px;
  margin:auto;
  padding: 0 15px;

}
.home-about {
	padding-bottom: 0;
}

.home__about__pic {
	margin-right: -20px;
	padding-right: 30px;
}

.home__about__pic__item {
	height: 620px;
	width: calc(50% - 20px);
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.home__about__pic__item__inner {
	height: 300px;
	margin-bottom: 20px;
}

.home__about__text {
	padding-top: 35px;
}

.home__about__text .section-title {
	text-align: left;
	margin-bottom: 24px;
}

.home__about__text span {
	display: block;
	font-size: 16px;
	color: #404D80;
	margin-bottom: 12px;
}

.home__about__text p.para-2 {
	margin-bottom: 40px;
}
/*---------------------
    About
-----------------------*/

#bg-counter{
  background-color: #585856;
}

.about {
	position: relative;
	z-index: 1;
	overflow: hidden;
	padding-bottom: 0;

}

.about:before {
	position: absolute;
	left: -447px;
	top: -144px;
	width: 990px;
	height: 1008px;
	background-image: url(../../assets/img/about/background-left.png);
	content: "";
	z-index: -1;
}

.about:after {
	position: absolute;
	right: -120px;
	bottom: 0;
	width: 459px;
	height: 504px;
	background-image: url(../../assets/img/about/background-right.png);
	content: "";
	z-index: -1;
}

.about__services {
	padding-bottom: 70px;
}

.about__text .section-title {
	margin-bottom: 26px;
	text-align: left;
}

.about__text .section-title h2 {
	margin-bottom: 8px;
}

.about__text .section-title p {
	color: #6E7580;
	line-height: 24px;
	margin-bottom: 0;
}

.about__bar .about__bar__item {
	margin-bottom: 30px;
}

.about__bar .about__bar__item:last-child {
	margin-right: 0;
}

.about__bar .about__bar__item p {
	color: #585856;
	font-weight: 700;
	margin-bottom: 20px;
}

.about__bar .about__bar__item .barfiller {
	height: 8px;
	border: none;
	background: rgba(87, 104, 173, 0.1);
	border-radius: 50px;
	box-shadow: inherit;
	margin-bottom: 0;
}

.about__bar .about__bar__item .barfiller .tip {
	font-size: 14px;
	font-weight: 700;
	color: #f5f3f2;
	padding: 2px 11px 1px;
	border-radius: 10px;
	background: #58787f;
	margin-top: -40px;
}

.about__bar .about__bar__item .barfiller .tip:after {
	border-color: #58787f transparent;
	left: 50%;
	top: 92%;
	-webkit-transform: translateX(-6px);
	transform: translateX(-6px);
}

.about__bar .about__bar__item .barfiller .fill {
	background: #58787f;
	border-radius: 50px;
}


/*---------------------
    Counter
-----------------------*/

.counter {
	padding-top: 0;
}

.counter__text {
	padding: 95px 70px 20px;
	box-shadow: 0px 0px 20px rgba(9, 30, 64, 0.6);
}

.counter__item {
	display: inline-block;
	margin-right: 60px;
	margin-bottom: 30px;
}

.counter__item:last-child {
	margin-right: 0;
}

.counter__item__icon {
	float: left;
	margin-right: 30px;
}

.counter__item__text {
	overflow: hidden;
}

.counter__item__text h2 {
	font-size: 44px;
	font-weight: 700;
	color: #f5f3f2;
}

.counter__item__text p {
	color: #f5f3f2;
	margin-bottom: 0;
	font-size: 18px;
}
