  <!-- About Section Begin -->
  <section id="aboutme">
    <div class="row m-0">
      <div class="col-12 col-lg-5 d-flex justify-content-center align-items-center" style="height: 80vh;">
          <img src="../../assets/img/instructor/instructor-4.jpg" alt="" width="70%" height="70%" class="object-fit-cover">
      </div>

      <div class="col-12 col-lg-7 d-flex  align-items-center py-5 text-white" style="background-color: rgba(2, 2, 10, 0.835);" >
          <div class="px-5">
            <h1><b>Hi,</b></h1>
            <h1><b>I´m Ana</b></h1>
            <h5 class="text-white-50" style="max-width: 600px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus soluta tempore nostrum,
                cum expedita modi placeat blanditiis sit cupiditate deserunt quidem autem, nesciunt, maiores facere nisi iste? Obcaecati, consectetur cum!.
            </h5>
          </div>
      </div>

    </div>
</section>
  <!--  end   -->

  <!-- About Section Begin -->
  <section class="about spad" >
    <div class="container">
      <div class="row">
                  <!-- Counter Begin -->
        <div class="counter spad">
              <div class="container">
                  <div class="counter__text set-bg" id="bg-counter">
                      <div class="counter__item">
                          <div class="counter__item__icon">
                              <img src="../../assets/img/counter/counter-1.png" alt="">
                          </div>
                          <div class="counter__item__text">
                              <h2>2146</h2>
                              <p>Students</p>
                          </div>
                      </div>
                      <div class="counter__item">
                          <div class="counter__item__icon">
                              <img src="../../assets/img/counter/counter-2.png" alt="">
                          </div>
                          <div class="counter__item__text">
                              <h2>15</h2>
                              <p>Years Of Experience</p>
                          </div>
                      </div>
                      <div class="counter__item">
                          <div class="counter__item__icon">
                              <img src="../../assets/img/counter/counter-3.png" alt="">
                          </div>
                          <div class="counter__item__text">
                              <h2>48</h2>
                              <p>Branches</p>
                          </div>
                      </div>
                      <div class="counter__item">
                          <div class="counter__item__icon">
                              <img src="../../assets/img/counter/counter-4.png" alt="">
                          </div>
                          <div class="counter__item__text">
                              <h2>234</h2>
                              <p>Expert Staffs</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
                <!-- Counter End -->
      </div>
    </div>
</section>
<!-- About Section End -->

<section class="mb-5 pb-5" id="aboutme2">
    <div class="row mx-0 px-2 px-md-5 mx-xl-5 text-black" style="min-height: 90vh;">
      <div class="col-12 col-xl-5 m-0 p-0 pb-5 pt-4">
          <img src="../../assets/img/instructor/instructor-3.jpg" alt="" width="84%" height="80%" class="object-fit-cover">
      </div>
      <div class="col-12 col-xl-7">
          <div class="row h-100">
              <div class="col-12 col-xl-12 container pb-xl-5">
                  <h1 class="fs-0">Transforma tu mente y cuerpo</h1>
              </div>
              <div class="col-12 col-xl-5 d-flex justify-content-end align-items-end">
                  <img src="../../assets/img/instructor/instructor-2.jpg" alt="" width="90%" height="80%" class="object-fit-cover">
              </div>
              <div class="col-12 col-xl-7 pt-5 py-xl-0">
                  <h4 class="text-secondary">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis expedita quibusdam nostrum harum quos
                      molestias esse natus velit voluptatibus ipsa assumenda illum, et eius incidunt. Veniam animi pariatur
                      id nulla! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis expedita quibusdam nostrum harum
                      quos molestias esse natus velit voluptatibus ipsa assumenda illum, et eius incidunt. Veniam animi pariatur
                      id nulla! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis expedita quibusdam nostrum harum
                  </h4>
              </div>
          </div>
      </div>
  </div>

</section>




