<section class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="footer__about">
                  <img src="img/footer-logo.png" alt="">
                  <ul>
                      <li><i class="fa fa-clock-o"></i> Mon - Fri: 6:30am - 07:45pm</li>
                      <li><i class="fa fa-clock-o"></i> Sat - Sun: 8:30am - 05:45pm</li>
                  </ul>
                  <form action="#" class="subscribe-form">
                      <input type="text" placeholder="Your Email">
                      <button type="submit"><i class="fa fa-send"></i></button>
                  </form>
              </div>
          </div>
          <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
              <div class="footer__widget">
                  <h5>Inspiration</h5>
                  <ul>
                      <li><a href="#">Online Pilates</a></li>
                      <li><a href="#">Yoga for Beginners</a></li>
                      <li><a href="#">Online Pilates</a></li>
                      <li><a href="#">Online Yoga</a></li>
                      <li><a href="#">Conditioning</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6">
              <div class="footer__widget">
                  <h5>About Us</h5>
                  <ul>
                      <li><a href="#">Our Vision</a></li>
                      <li><a href="#">Our Mission</a></li>
                      <li><a href="#">Meet The Team</a></li>
                      <li><a href="#">Introduce</a></li>
                      <li><a href="#">Customer Service</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="footer__widget">
                  <h5>Contact Us</h5>
                  <ul class="footer-address">
                      <li><i class="fa fa-phone"></i> (01) 436 8888</li>
                      <li><i class="fa fa-envelope"></i> hello@zogin.com</li>
                      <li><i class="fa fa-location-arrow"></i> 828 Granville Lights Suite 466</li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="footer__copyright">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  <div class="footer__copyright__text">
                      <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                  </div>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="footer__copyright__social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
