<section class="d-flex align-items-center" style="margin-top:100px; min-height: 80vh;">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-2 p-0">
        <h2 class="fw-bold">Administrar</h2>
      </div>
      <div class="col-12 col-md-6 col-lg-4 m-0 p-3">
        <div class="position-relative" style="height: 300px; width:300px;">
          <img src="./../../../assets/img/breadcrumb.jpg" alt="" class="w-100 h-100 img-thumbnail background-cover" routerLink="/paneladmin/panelusuarios">
          <div class="text-center position-absolute top-50 start-50 translate-middle text-white fw-bold fs-4" style="z-index: 1;">
            Usuarios
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 m-0 p-3">
        <div class="position-relative" style="height: 300px; width:300px;">
          <img src="./../../../assets/img/breadcrumb.jpg" alt="" class="w-100 h-100 img-thumbnail background-cover" routerLink="/paneladmin/panelprofesores">
          <div class="text-center position-absolute top-50 start-50 translate-middle text-white fw-bold fs-4" style="z-index: 1;">
            Profesores
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 m-0 p-3">
        <div class="position-relative" style="height: 300px; width:300px;">
          <img src="./../../../assets/img/breadcrumb.jpg" alt="" class="w-100 h-100 img-thumbnail background-cover" routerLink="/paneladmin/panelclases">
          <div class="text-center position-absolute top-50 start-50 translate-middle text-white fw-bold fs-4" style="z-index: 1;">
            Aulas
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 m-0 p-3">
        <div class="position-relative" style="height: 300px; width:300px;">
          <img src="./../../../assets/img/breadcrumb.jpg" alt="" class="w-100 h-100 img-thumbnail background-cover" routerLink="/paneladmin/panelarticulos">
          <div class="text-center position-absolute top-50 start-50 translate-middle text-white fw-bold fs-4" style="z-index: 1;">
            Tienda Productos
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 m-0 p-3">
        <div class="position-relative" style="height: 300px; width:300px;">
          <img src="./../../../assets/img/breadcrumb.jpg" alt="" class="w-100 h-100 img-thumbnail background-cover" routerLink="/paneladmin/panelclases">
          <div class="text-center position-absolute top-50 start-50 translate-middle text-white fw-bold fs-4" style="z-index: 1;">
            Tienda Clases
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 m-0 p-3">
        <div class="position-relative" style="height: 300px; width:300px;">
          <img src="./../../../assets/img/breadcrumb.jpg" alt="" class="w-100 h-100 img-thumbnail background-cover" routerLink="/paneladmin/panelclases">
          <div class="text-center position-absolute top-50 start-50 translate-middle text-white fw-bold fs-4" style="z-index: 1;">
            Notificaciones
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
