section
{
  display: flex ;
  width: 600px;
  height: 430px;
}

section img{
  width: 0px;
  flex-grow : 1;
  opacity : 0.8;
  object-fit: cover;
  transition: 0.5s ease;
}

section img:hover{
  cursor : crosshair;
  width: 300px;
  opacity : 1;
  filter: contrast(120%);
}
