
/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumb-option,
.blog-hero {
	padding-top: 215px;
	padding-bottom: 170px;
	margin-top: -50px;
}

.breadcrumb__text,
.blog-hero {
	text-align: center;
}

.breadcrumb__text h2,
.blog-hero h2 {
	font-size: 44px;
	color: #f5f3f2;
	margin-bottom: 6px;
}

.breadcrumb__widget a {
	display: inline-block;
	font-size: 16px;
	color: #f5f3f2;
	font-weight: 700;
	margin-right: 15px;
	position: relative;
}

.breadcrumb__widget a:after {
	position: absolute;
	right: -14px;
	top: 1px;
	font-weight: 400;
	content: "/";
}

.breadcrumb__widget span {
	display: inline-block;
	font-size: 16px;
	color: #f5f3f2;
	font-weight: 400;
}


/*---------------------
  Classes
-----------------------*/

.classes__filter {
	background: #f5f3f2;
	box-shadow: 0px 10px 20px rgba(35, 37, 43, 0.1);
	border-radius: 2px;
	padding: 25px 100px 30px;
	margin-bottom: 60px;
}

@media (max-width: 991px) {
  .classes__filter {
    padding-left: 0px;
    padding-right: 0px;
  }

}

.classes__filter form {
	position: relative;
	width: 100%;
	display: inline-block;
}

.classes__filter form .class__filter__select {
	width: calc(24% - 30px);
	float: left;
	margin-right: 30px;
}

.classes__filter form .class__filter__select p {
	color: #9B9EA3;
	margin-bottom: 10px;
}

.classes__filter form .class__filter__select .nice-select {
	float: none;
	height: 40px;
	background: #f5f6fa;
	border: 1px solid #D4D5D8;
	border-radius: 2px;
}

.classes__filter form .class__filter__select .nice-select span {
	font-size: 16px;
	color: #001943;
}

.classes__filter form .class__filter__select .nice-select .list {
	width: 100%;
	border-radius: 0;
	margin-top: 0;
}

.classes__filter form .class__filter__select .nice-select:after {
	border-bottom: 2px solid #58787f;
	border-right: 2px solid #58787f;
	height: 8px;
	margin-top: 0;
	right: 20px;
	top: 37%;
	width: 8px;
}

.classes__filter form .class__filter__btn {
	position: absolute;
	right: 0;
	bottom: 0;
}

.classes__filter form .class__filter__btn button {
	font-size: 18px;
	color: #f5f3f2;
	height: 40px;
	width: 42px;
	border-radius: 2px;
	background: #58787f;
	line-height: 40px;
	text-align: center;
	border: none;
	display: inline-block;
}

.upcoming-classes {
	padding-bottom: 70px;
	padding-top: 80px;
}

.upcoming-classes.top-classes {
	background: #f5f6fa;
}

.classes__item {
	box-shadow: 0px 0px 65px rgba(12, 26, 39, 0.05);
	margin-bottom: 30px;
	background: #f5f3f2;
}

.classes__item.classes__item__page .classes__item__pic span {
	padding: 5px 30px 4px 20px;
}

.classes__item__pic {
	height: 241px;
	position: relative;
}

.classes__item__pic span {
	font-size: 14px;
	font-weight: 700;
	color: #f5f3f2;
	display: inline-block;
	padding: 7px 16px 4px;
	background: #58787f;
	position: absolute;
	left: 0;
	top: 10px;
}

.classes__item__text {
	padding: 24px 0 28px 30px;
}

.classes__item__text ul {
	margin-bottom: 10px;
}

.classes__item__text ul li {
	list-style: none;
	font-size: 16px;
	color: #9B9EA3;
	display: inline-block;
	margin-right: 45px;
}

.classes__item__text ul li:last-child {
	margin-right: 0;
}

.classes__item__text ul li span {
	margin-right: 5px;
}

.classes__item__text p {
	color: #9B9EA3;
	margin-bottom: 10px;
}

.classes__item__text h4 {
	margin-bottom: 50px;
}

.classes__item__text h4 a {
	color: #001943;
	line-height: 36px;
}

.classes__item__text h6 {
	color: #001943;
	margin-bottom: 35px;
}

.classes__item__text h6 span {
	color: #9B9EA3;
	font-size: 14px;
}

.classes__item__text .class-btn {
	font-size: 14px;
	font-weight: 700;
	color: #58787f;
	display: inline-block;
	border: 1px solid rgba(155, 158, 163, 0.2);
	padding: 10px 20px 7px;
	border-radius: 2px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.classes__item__text .class-btn:hover {
	background: #58787f;
	border: 1px solid #58787f;
	color: #f5f3f2;
}

.classes__pagination {
	text-align: center;
	padding-top: 30px;
}

.classes__pagination.blog__pagination {
	text-align: left;
	padding-top: 0;
}

.classes__pagination a {
	display: inline-block;
	font-size: 16px;
	color: #9B9EA3;
	background: #f5f6fa;
	font-weight: 700;
	height: 40px;
	width: 40px;
	border: 1px solid #D4D5D8;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	margin-right: 16px;
}

.classes__pagination a:last-child {
	margin-right: 0;
}

.classes__pagination a span {
	font-size: 24px;
	position: relative;
	top: 3px;
}

.classes__pagination a:hover {
	background: #58787f;
	border-color: #58787f;
	color: #f5f3f2;
}
