 <!-- ADMINISTRACION DE PRODUCTOS -->
 <section id="administrarProductos">
  <div class="container rounded p-4" data-aos="fade-up" data-aos-duration="500">
    <div class="row pt-5">
      <div class="col-6">
        <h2 class="text-success">Activos</h2>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <button type="button" class="btn btn-success" routerLink="crear">Nuevo producto</button>
      </div>
    </div>
    <table class="table text-white" style="max-width: 100%;">
      <thead>
        <tr>
          <th scope="col">Productos</th>
          <th scope="col">Modificar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productoActivo of []">
          <td>productoActivo.nombre</td>
          <td><button type="button"  class="btn btn-warning"><i class="bi bi-pencil-square"></i></button></td>
          <td><button type="button"  class="btn btn-danger"><i class="bi bi-trash"></i></button></td>
        </tr>
      </tbody>
    </table>

    <h2 class="pt-5 text-danger">Eliminados</h2>

    <table class="table text-white" style="max-width: 100%;">
      <thead>
        <tr>
          <th scope="col">Productos</th>
          <th scope="col">Activar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productoInactivo of []">
          <td>productoInactivo.nombre</td>
          <td><button type="button"  class="btn btn-success"><i class="bi bi-check-circle"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
