<div class="container" style="min-height: 100vmin; margin-top:100px">
  <div *ngIf="mostrarHistorial">
    <h1 class="my-4"><b>Historial de compras:</b></h1>
    <div *ngFor="let compra of historialCompras" class="card my-5 text-center" style="background-color: #e9fcfa;">
      <div class="card-header fw-bold">
        Fecha: {{ compra.fecha | date:'dd/MM/yyyy HH:mm' }}
      </div>
      <div class="card-body">
        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Cantidad</th>
                <th scope="col">Producto</th>
                <th scope="col">P.Unitario</th>
                <th scope="col">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prod of compra.productos">
                <th scope="row">{{prod.cantidad}}</th>
                <td>{{prod.producto.nombre}}</td>
                <td>$ {{prod.producto.precioPesos}}</td>
                <td>$ {{prod.producto.precioPesos * prod.cantidad}}</td>
              </tr>
              <tr *ngFor="let clase of compra.clases">
                <th scope="row">{{clase.cantidad}}</th>
                <td>{{clase.clase.nombre}}</td>
                <td>$ {{clase.clase.precioPesos}}</td>
                <td>$ {{clase.clase.precioPesos * clase.cantidad}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer text-muted">
        <p class="card-text fw-bold">Total: ${{compra.precio}} - {{compra.metodoPago}}</p>
      </div>
        <!--
        <p class="card-text">Total: ${{compra.precio}} - {{compra.metodoPago}}</p>
      </div>
      <div class="card-footer text-muted">
         Direccion envio: {{compra.direccionEnvio}} | Tienda: {{compra.productos[0].tienda}}
      </div>
        -->
    </div>
  </div>

  <div *ngIf="!mostrarHistorial" class="text-center">
    <div class="container">
      <h1 class="my-4"><b>Historial de compras vacio</b></h1>
      <img src="../../assets/img/empty_cart_retina.png" style="width: 100%;">
    </div>
  </div>

</div>

