<div class="center-content text-center">
  <main class="form-signin w-100 h-100 m-auto">
    <form (ngSubmit)="register($event)">
      <img class="mb-2" src="../../../assets/img/ChakanaLogo.png" alt="" width="300" height="72">
      <input [(ngModel)]="email" name="email" type="email" class="form-control p-3" id="floatingInput" placeholder="Email">
      <input [(ngModel)]="password" name="password" type="password" class="form-control p-3" id="floatingPassword" placeholder="Password">
      <button class="w-100 btn btn-lg btn-grey mb-4" type="submit">Registrar</button>
      <a [routerLink]="['/login']" class="link-secondary">¿Ya tienes cuenta? Inicia sesion</a>
    </form>
  </main>
</div>
