
<div class="center-content text-center">
  <main class="form-signin w-100 h-100 m-auto">
    <form>
      <img class="mb-2" src="../../../assets/img/ChakanaLogo.png" alt="" width="300" height="72">
      <div class="form-floating text-left">
        <label for="floatingInput">Email</label>
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      </div>

      <div class="form-floating text-left">
        <label for="floatingPassword">Contraseña</label>
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" >
      </div>
      <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Registrarme</button>
    </form>
  </main>
</div>
