


  <!-- Blog Section Begin -->
  <section class="blog spad">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 order-lg-1 order-2">
                  <div class="blog__sidebar">
                      <div class="blog__sidebar__categories">
                          <h4>Categories</h4>
                          <ul>
                              <li><a href="#">All</a></li>
                              <li><a href="#">Fuel (20)</a></li>
                              <li><a href="#">Sweat (5)</a></li>
                              <li><a href="#">Play (9)</a></li>
                              <li><a href="#">Live (10)</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-8 order-lg-2 order-1">
                  <div class="row">
                      <div class="col-lg-6 col-sm-6">
                          <div class="blog__item">
                              <div class="blog__item__pic">
                                  <img src="img/blog/blog-1.jpg" alt="">
                              </div>
                              <div class="blog__item__text">
                                  <ul>
                                      <li><i class="fa fa-calendar-o"></i> May 4, 2019</li>
                                      <li><i class="fa fa-comment-o"></i> 5</li>
                                  </ul>
                                  <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                                  <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                      quaerat </p>
                                  <a href="#" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 col-sm-6">
                          <div class="blog__item">
                              <div class="blog__item__pic">
                                  <img src="img/blog/blog-2.jpg" alt="">
                              </div>
                              <div class="blog__item__text">
                                  <ul>
                                      <li><i class="fa fa-calendar-o"></i> May 4, 2019</li>
                                      <li><i class="fa fa-comment-o"></i> 5</li>
                                  </ul>
                                  <h5><a href="#">You can keep fit at university</a></h5>
                                  <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                      quaerat </p>
                                  <a href="#" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 col-sm-6">
                          <div class="blog__item">
                              <div class="blog__item__pic">
                                  <img src="img/blog/blog-3.jpg" alt="">
                              </div>
                              <div class="blog__item__text">
                                  <ul>
                                      <li><i class="fa fa-calendar-o"></i> May 4, 2019</li>
                                      <li><i class="fa fa-comment-o"></i> 5</li>
                                  </ul>
                                  <h5><a href="#">6 reasons to get rebounding</a></h5>
                                  <p>Rebounding is fast becoming the low impact, high-intensity workout of choice for
                                      those looking</p>
                                  <a href="#" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 col-sm-6">
                          <div class="blog__item">
                              <div class="blog__item__pic">
                                  <img src="img/blog/blog-4.jpg" alt="">
                              </div>
                              <div class="blog__item__text">
                                  <ul>
                                      <li><i class="fa fa-calendar-o"></i> May 4, 2019</li>
                                      <li><i class="fa fa-comment-o"></i> 5</li>
                                  </ul>
                                  <h5><a href="#">Cooking tips make cooking simple</a></h5>
                                  <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                      quaerat </p>
                                  <a href="#" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 col-sm-6">
                          <div class="blog__item">
                              <div class="blog__item__pic">
                                  <img src="img/blog/blog-5.jpg" alt="">
                              </div>
                              <div class="blog__item__text">
                                  <ul>
                                      <li><i class="fa fa-calendar-o"></i> May 4, 2019</li>
                                      <li><i class="fa fa-comment-o"></i> 5</li>
                                  </ul>
                                  <h5><a href="#">optimise your muscle gains</a></h5>
                                  <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                      quaerat </p>
                                  <a href="#" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 col-sm-6">
                          <div class="blog__item">
                              <div class="blog__item__pic">
                                  <img src="img/blog/blog-6.jpg" alt="">
                              </div>
                              <div class="blog__item__text">
                                  <ul>
                                      <li><i class="fa fa-calendar-o"></i> May 4, 2019</li>
                                      <li><i class="fa fa-comment-o"></i> 5</li>
                                  </ul>
                                  <h5><a href="#">Cooking tips make cooking simple</a></h5>
                                  <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                                      quaerat </p>
                                  <a href="#" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-12">
                          <div class="classes__pagination blog__pagination">
                              <a href="#">1</a>
                              <a href="#">2</a>
                              <a href="#"><span class="arrow_carrot-right"></span></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Blog Section End -->
