<!-- Breadcrumb Begin -->
<section class="breadcrumb-option set-bg object-fit-cover">
</section>
<!-- Breadcrumb End -->

<!-- Blog Section Begin -->
  <section class="blog spad">
      <div class="container">
          <div class="row mt-5">
              <div class="col-lg-4 order-lg-1 order-2 mt-5">
                  <div class="blog__sidebar ">
                      <div class="blog__sidebar__categories">
                          <h4>Categories</h4>
                          <ul>
                              <li *ngFor="let categoria of categorias"><a (click)="redirigirACategoria()" >{{categoria.nombre}}</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-8 order-lg-2 order-1">
                  <div class="row">
                      <div class="col-lg-6 col-sm-6" *ngFor="let item of [1,2,3,4]">
                          <div class="blog__item">
                              <div class="blog__item__pic">
                                  <img src="../../assets/img/blog/blog-1.jpg" alt="">
                              </div>
                              <div class="blog__item__text">
                                  <ul>
                                      <li><i class="fa fa-calendar-o"></i> May 4, 2019</li>
                                      <li><i class="fa fa-comment-o"></i> 5</li>
                                  </ul>
                                  <h5><a>Cómo mejorar la flexibilidad con estiramientos dinámicos</a></h5>
                                  <p>
                                    En este artículo exploraremos cómo mejorar la flexibilidad mediante estiramientos dinámicos en lugar de estáticos, y por qué son más efectivos para prevenir lesiones y mejorar el rendimiento.
                                  </p>
                                  <a routerLink="/articulos" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-12">
            <div class="classes__pagination">
                <a *ngIf="numPage > 0"(click)= "paginaAnterior()"><span class="arrow_carrot-left"></span></a>
                <a>{{numPage+1}}</a>
                <a *ngIf="(numPage < dataPaginada.totalPages-1)"(click)="siguientePagina()">   <span class="arrow_carrot-right"></span></a>
            </div>
        </div>
      </div>
  </section>
  <!-- Blog Section End -->
