
/*---------------------
  Blog
-----------------------*/

.blog__item {
	margin-bottom: 60px;
}

.blog__item__pic {
	margin-bottom: 26px;
}

.blog__item__pic img {
	min-width: 100%;
}

.blog__item__text ul {
	margin-bottom: 26px;
}

.blog__item__text ul li {
	font-size: 16px;
	color: #9B9EA3;
	margin-right: 15px;
	display: inline-block;
}

.blog__item__text ul li:last-child {
	margin-right: 0;
}

.blog__item__text ul li i {
	margin-right: 5px;
}

.blog__item__text h5 {
	margin-bottom: 15px;
}

.blog__item__text h5 a {
	font-size: 20px;
	color: #585856;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.blog__item__text h5 a:hover {
	color: #58787f;
}

.blog__item__text p {
	color: #9B9EA3;
	margin-bottom: 35px;
}

.blog__item__text .blog_read_more {
	font-size: 14px;
	color: #9B9EA3;
	padding: 18px 25px 15px;
	border-radius: 50px;
	text-transform: uppercase;
	border: 1px solid rgba(155, 158, 163, 0.3);
	display: inline-block;
}

.blog__item__text .blog_read_more span {
	font-size: 16px;
	position: relative;
	top: 2px;
	margin-left: 6px;
}

/*---------------------
  Blog Sidebar
-----------------------*/

.blog__sidebar {
	padding-right: 50px;
}

.blog__sidebar__search {
	margin-bottom: 50px;
}

.blog__sidebar__search form {
	position: relative;
}

.blog__sidebar__search form input {
	width: 100%;
	height: 46px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	font-size: 16px;
	color: #9B9EA3;
	padding-left: 25px;
}

.blog__sidebar__search form input::placeholder {
	color: #9B9EA3;
}

.blog__sidebar__search form button {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 16px;
	color: #9B9EA3;
	height: 100%;
	padding: 0 15px;
	background: transparent;
	border: none;
}

.blog__sidebar__categories {
	margin-bottom: 30px;
}

.blog__sidebar__categories h4 {
	color: #1C1C1C;
	margin-bottom: 10px;
}

.blog__sidebar__categories ul li {
	list-style: none;
}

.blog__sidebar__categories ul li a {
	font-size: 16px;
	color: #9B9EA3;
	line-height: 48px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.blog__sidebar__categories ul li a:hover {
	color: #58787f;
}

.blog__sidebar__recent {
	margin-bottom: 50px;
}

.blog__sidebar__recent h4 {
	color: #1C1C1C;
	margin-bottom: 25px;
}

.blog__recent__item {
	margin-bottom: 20px;
	overflow: hidden;
}

.blog__recent__item:last-child {
	margin-bottom: 0;
}

.blog__recent__item__pic {
	float: left;
	margin-right: 20px;
}

.blog__recent__item__text {
	overflow: hidden;
}

.blog__recent__item__text h6 {
	color: #585856;
	font-weight: 700;
	line-height: 20px;
	margin-bottom: 5px;
}

.blog__recent__item__text span {
	font-size: 12px;
	color: #9B9EA3;
	text-transform: uppercase;
}

.blog__sidebar__tags {
	margin-bottom: 40px;
}

.blog__sidebar__tags h4 {
	color: #1C1C1C;
	margin-bottom: 25px;
}

.blog__sidebar__tags a {
	font-size: 16px;
	background: #f5f5f5;
	color: #9B9EA3;
	display: inline-block;
	padding: 7px 15px 3px;
	margin-right: 6px;
	margin-bottom: 10px;
}

.blog__sidebar__comment h4 {
	color: #1C1C1C;
	margin-bottom: 25px;
}

/*---------------------
  Blog Details Hero
-----------------------*/

.blog__hero__text ul li {
	list-style: none;
	display: inline-block;
	font-size: 16px;
	color: #f5f3f2;
	margin-right: 35px;
	position: relative;
}

.blog__hero__text ul li:after {
	position: absolute;
	right: -23px;
	top: -1px;
	content: "|";
}

.blog__hero__text ul li:last-child {
	margin-right: 0;
}

.blog__hero__text ul li:last-child:after {
	display: none;
}

.blog__hero__text ul li span {
	font-weight: 700;
}

/*---------------------
  Blog Details
-----------------------*/

.blog__details__large {
	position: relative;
	margin-bottom: 40px;
}

.blog__details__large span {
	font-size: 14px;
	font-weight: 700;
	color: #f5f3f2;
	display: inline-block;
	padding: 5px 30px 4px 20px;
	background: #58787f;
	position: absolute;
	left: 0;
	top: 10px;
}

.blog__details__text {
	margin-bottom: 30px;
}

.blog__details__text p {
	line-height: 28px;
}

.blog__details__quote {
	position: relative;
	padding-left: 30px;
	margin-bottom: 60px;
}

.blog__details__quote:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 56px;
	width: 2px;
	background: #58787f;
	content: "";
}

.blog__details__quote p {
	line-height: 28px;
	color: #585856;
}

.blog__details__pic {
	margin-bottom: 30px;
}

.blog__details__pic img {
	margin-bottom: 20px;
	min-width: 100%;
}

.blog__details__desc {
	margin-bottom: 40px;
}

.blog__details__desc h4 {
	color: #585856;
	font-weight: 700;
	margin-bottom: 10px;
}

.blog__details__desc p {
	line-height: 28px;
}

.blog__details__tags__share {
	overflow: hidden;
	margin-bottom: 25px;
}

.blog__details__tags__share p {
	color: #9B9EA3;
	float: left;
}

.blog__details__tags__share p span {
	color: #585856;
	font-weight: 700;
}

.blog__details__tags__share .blog__details__share {
	float: right;
}

.blog__details__tags__share .blog__details__share a {
	display: inline-block;
	font-size: 18px;
	color: #585856;
	margin-right: 24px;
}

.blog__details__tags__share .blog__details__share a:last-child {
	margin-right: 0;
}

.blog__details__author {
	background: #f5f6fa;
	border-radius: 2px;
	padding: 35px 40px 35px 20px;
	margin-bottom: 50px;
}

.blog__details__author__pic {
	float: left;
	margin-right: 20px;
}

.blog__details__author__pic img {
	height: 90px;
	width: 90px;
	border-radius: 50%;
}

.blog__details__author__text {
	overflow: hidden;
}

.blog__details__author__text h4 {
	color: #585856;
	font-weight: 700;
	margin-bottom: 5px;
}

.blog__details__author__text p {
	color: #9B9EA3;
	line-height: 28px;
	margin-bottom: 0;
}

.blog__previous__btn,
.blog__next__btn {
	display: block;
	position: relative;
	padding-left: 30px;
}

.blog__previous__btn i,
.blog__next__btn i {
	font-size: 25px;
	color: #9B9EA3;
	position: absolute;
	left: 0;
	top: 0;
}

.blog__previous__btn h6,
.blog__next__btn h6 {
	color: #585856;
	font-weight: 700;
	margin-bottom: 5px;
}

.blog__previous__btn span,
.blog__next__btn span {
	font-size: 12px;
	color: #9B9EA3;
}

.blog__next__btn {
	text-align: right;
	padding-left: 0;
	padding-right: 30px;
}

.blog__next__btn i {
	right: 0;
	top: 0;
}
































/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumb-option,
.blog-hero {
	padding-top: 215px;
	padding-bottom: 170px;
	margin-top: -50px;
  background: url(../../assets/img/breadcrumb.jpg) no-repeat;
}

.breadcrumb__text,
.blog-hero {
	text-align: center;
}

.breadcrumb__text h2,
.blog-hero h2 {
	font-size: 44px;
	color: #f5f3f2;
	margin-bottom: 6px;
}

.breadcrumb__widget a {
	display: inline-block;
	font-size: 16px;
	color: #f5f3f2;
	font-weight: 700;
	margin-right: 15px;
	position: relative;
}

.breadcrumb__widget a:after {
	position: absolute;
	right: -14px;
	top: 1px;
	font-weight: 400;
	content: "/";
}

.breadcrumb__widget span {
	display: inline-block;
	font-size: 16px;
	color: #f5f3f2;
	font-weight: 400;
}

.classes__pagination {
	text-align: center;
	padding-top: 30px;
}

.classes__pagination.blog__pagination {
	text-align: left;
	padding-top: 0;
}

.classes__pagination a {
	display: inline-block;
	font-size: 16px;
	color: #9B9EA3;
	background: #f5f6fa;
	font-weight: 700;
	height: 40px;
	width: 40px;
	border: 1px solid #D4D5D8;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	margin-right: 16px;
}

.classes__pagination a:last-child {
	margin-right: 0;
}

.classes__pagination a span {
	font-size: 24px;
	position: relative;
	top: 3px;
}

.classes__pagination a:hover {
	background: #58787f;
	border-color: #58787f;
	color: #f5f3f2;
}
