<!-- CARGA DE PRODUCTOS -->
<section id="modificarProductos">
  <div class="container pt-5">
    <div class="p-5 rounded text-white" data-aos="zoom-in" data-aos-duration="500">
        <legend>Crear clase</legend>
        <form (ngSubmit)="crearClase($event)">
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input [(ngModel)]="clase.nombre" name="nombre" type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingrese el nombre">
        </div>
        <div class="mb-3">
          <label class="form-label">Descripcion</label>
          <input [(ngModel)]="clase.descripcion" name="descripcion" type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingrese la descripcion">
        </div>
        <!--
        <div class="mb-3">
          <label class="form-label">Nivel</label>
          <select class="form-select" [(ngModel)]="nivelSeleccionado">
            <option *ngFor="let opcion of opcionesNivel" [value]="opcion.id">{{ opcion.nombre }}</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Categoría</label>
          <select class="form-select" [(ngModel)]="categoriaSeleccionada">
            <option *ngFor="let opcion of opcionesCategoria" [value]="opcion.id">{{ opcion.nombre }}</option>
          </select>
        </div>-->
        <div class="mb-3">
          <label class="form-label">precio en pesos</label>
          <input [(ngModel)]="clase.precioPesos" name="presioPesos" type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingrese precio de la clase">
        </div>
        <div class="mb-3">
          <label class="form-label">precio en dolares</label>
          <input [(ngModel)]="clase.precioDolares" name="precioDolares" type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingrese precio de la clase">
        </div>

        <!--
        <div class="mb-3">
          <label class="form-label">Url imagen</label>
          <input [(ngModel)]="producto.imagen" type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingrese la url de la imagen">
        </div>
        -->
        <div class="mb-4">
          <label class="form-label w-100">Imagen</label>
          <input [(ngModel)]="clase.urlImagen" name="urlImagen" type="file" class="rounded">
        </div>

        <button  class="btn btn-secondary me-4" routerLink="/administrar/productos">Cancelar</button>
        <button  type="submit" class="btn btn-success" >Generar</button>
        <button  class="btn btn-warning dissabled" disabled>Cargando...</button>
      </form>
      
      </div>
  </div>
</section>
