
/*---------------------
  Hero
-----------------------*/

.hero {
	margin-top: -50px;
}

.hero__sliders.owl-carousel .owl-item.active .hero__text span {
	opacity: 1;
	top: 0;
}

.hero__sliders.owl-carousel .owl-item.active .hero__text h2 {
	opacity: 1;
	top: 0;
}

.hero__sliders.owl-carousel .owl-item.active .hero__text .primary-btn {
	opacity: 1;
	top: 0;
}

.hero__sliders.owl-carousel .owl-nav button {
	display: inline-block;
	height: 46px;
	width: 46px;
	background: rgba(245, 243, 242, 0.3);
	border-radius: 2px;
	color: #f5f3f2;
	font-size: 20px;
	line-height: 52px;
	text-align: center;
	position: absolute;
	left: 40px;
	top: 50%;
	-webkit-transform: translateY(-23px);
	transform: translateY(-23px);
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.hero__sliders.owl-carousel .owl-nav button:hover {
	color: #585856;
	background: #f5f3f2;
}

.hero__sliders.owl-carousel .owl-nav button.owl-next {
	left: auto;
	right: 40px;
}

.hero__items {
	height: 873px;
	display: flex;
	align-items: center;
}

.hero__text span {
	font-size: 16px;
	color: #f5f3f2;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 4px;
	display: block;
	margin-bottom: 30px;
	position: relative;
	top: 100px;
	opacity: 0;
	-webkit-transition: all, 0.2s;
	-moz-transition: all, 0.2s;
	-ms-transition: all, 0.2s;
	-o-transition: all, 0.2s;
	transition: all, 0.2s;
}

.hero__text h2 {
	font-size: 70px;
	line-height: 80px;
	color: #f5f3f2;
	margin-bottom: 50px;
	position: relative;
	top: 100px;
	opacity: 0;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.hero__text .primary-btn {
	position: relative;
	top: 100px;
	opacity: 0;
	-webkit-transition: all, 0.8s;
	-moz-transition: all, 0.8s;
	-ms-transition: all, 0.8s;
	-o-transition: all, 0.8s;
	transition: all, 0.8s;
}


/*---------------------
  Home About
-----------------------*/

.home-about {
	padding-bottom: 0;
}

.home__about__pic {
	margin-right: -20px;
	padding-right: 30px;
}

.home__about__pic__item {
	height: 620px;
	width: calc(50% - 20px);
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.home__about__pic__item__inner {
	height: 300px;
	margin-bottom: 20px;
}

.home__about__text {
	padding-top: 35px;
}

.home__about__text .section-title {
	text-align: left;
	margin-bottom: 24px;
}

.home__about__text span {
	display: block;
	font-size: 16px;
	color: #404D80;
	margin-bottom: 12px;
}

.home__about__text p.para-2 {
	margin-bottom: 40px;
}

/*---------------------
    About
-----------------------*/

.about {
	position: relative;
	z-index: 1;
	overflow: hidden;
	padding-bottom: 0;
}

.about:before {
	position: absolute;
	left: -447px;
	top: -144px;
	width: 990px;
	height: 1008px;
	background-image: url(../../assets/img/about/background-left.png);
	content: "";
	z-index: -1;
}

.about:after {
	position: absolute;
	right: -120px;
	bottom: 0;
	width: 459px;
	height: 504px;
	background-image: url(../../assets/img/about/background-right.png);
	content: "";
	z-index: -1;
}

.about__services {
	padding-bottom: 70px;
}

.about__text .section-title {
	margin-bottom: 26px;
	text-align: left;
}

.about__text .section-title h2 {
	margin-bottom: 8px;
}

.about__text .section-title p {
	color: #6E7580;
	line-height: 24px;
	margin-bottom: 0;
}

.about__bar .about__bar__item {
	margin-bottom: 30px;
}

.about__bar .about__bar__item:last-child {
	margin-right: 0;
}

.about__bar .about__bar__item p {
	color: #585856;
	font-weight: 700;
	margin-bottom: 20px;
}

.about__bar .about__bar__item .barfiller {
	height: 8px;
	border: none;
	background: rgba(87, 104, 173, 0.1);
	border-radius: 50px;
	box-shadow: inherit;
	margin-bottom: 0;
}

.about__bar .about__bar__item .barfiller .tip {
	font-size: 14px;
	font-weight: 700;
	color: #f5f3f2;
	padding: 2px 11px 1px;
	border-radius: 10px;
	background: #58787f;
	margin-top: -40px;
}

.about__bar .about__bar__item .barfiller .tip:after {
	border-color: #58787f transparent;
	left: 50%;
	top: 92%;
	-webkit-transform: translateX(-6px);
	transform: translateX(-6px);
}

.about__bar .about__bar__item .barfiller .fill {
	background: #58787f;
	border-radius: 50px;
}


/*---------------------
  Services
-----------------------*/

.services {
	padding-top: 80px;
	padding-bottom: 70px;
}

.services__item {
	text-align: center;
	padding: 40px 15px 60px;
	border-radius: 10px;
	box-shadow: 0px 0px 65px rgba(12, 26, 39, 0.05);
	margin-bottom: 30px;
	background: #f5f3f2;
}

.services__item h5 {
	font-size: 20px;
	color: #58787f;
	margin-top: 35px;
	margin-bottom: 12px;
}

.services__item p {
	color: #58787f;
	margin-bottom: 0;
}


/*---------------------
  Chooseus
-----------------------*/

.chooseus {
	background: #f5f3f2;
	padding-bottom: 20px;
}

.chooseus__text {
	margin-bottom: 70px;
}

.chooseus__text h2 {
	font-size: 44px;
	color: #58787f;
	margin-bottom: 6px;
}

.chooseus__text p {
	margin-bottom: 0;
}

.chooseus__item {
	width: 50%;
	float: left;
	margin-bottom: 80px;
}

.chooseus__item__icon {
	float: left;
	margin-right: 30px;
}

.chooseus__item__text {
	overflow: hidden;
}

.chooseus__item__text h2 {
	font-size: 48px;
	color: #58787f;
	line-height: 45px;
	margin-bottom: 5px;
}

.chooseus__item__text p {
	font-size: 18px;
	margin-bottom: 0;
	color: #58787f;
}

.chooseus__pic img {
	min-width: 100%;
}

/*---------------------
  Classes
-----------------------*/

.classes__filter {
	background: #f5f3f2;
	box-shadow: 0px 10px 20px rgba(35, 37, 43, 0.1);
	border-radius: 2px;
	padding: 25px 100px 30px;
	margin-bottom: 60px;
}

.classes__filter form {
	position: relative;
	width: 100%;
	display: inline-block;
}

.classes__filter form .class__filter__select {
	width: calc(24% - 30px);
	float: left;
	margin-right: 30px;
}

.classes__filter form .class__filter__select p {
	color: #9B9EA3;
	margin-bottom: 10px;
}

.classes__filter form .class__filter__select .nice-select {
	float: none;
	height: 40px;
	background: #f5f6fa;
	border: 1px solid #D4D5D8;
	border-radius: 2px;
}

.classes__filter form .class__filter__select .nice-select span {
	font-size: 16px;
	color: #001943;
}

.classes__filter form .class__filter__select .nice-select .list {
	width: 100%;
	border-radius: 0;
	margin-top: 0;
}

.classes__filter form .class__filter__select .nice-select:after {
	border-bottom: 2px solid #58787f;
	border-right: 2px solid #58787f;
	height: 8px;
	margin-top: 0;
	right: 20px;
	top: 37%;
	width: 8px;
}

.classes__filter form .class__filter__btn {
	position: absolute;
	right: 0;
	bottom: 0;
}

.classes__filter form .class__filter__btn button {
	font-size: 18px;
	color: #f5f3f2;
	height: 40px;
	width: 42px;
	border-radius: 2px;
	background: #58787f;
	line-height: 40px;
	text-align: center;
	border: none;
	display: inline-block;
}

.upcoming-classes {
	padding-bottom: 70px;
	padding-top: 80px;
}

.upcoming-classes.top-classes {
	background: #f5f6fa;
}

.classes__item {
	box-shadow: 0px 0px 65px rgba(12, 26, 39, 0.05);
	margin-bottom: 30px;
	background: #f5f3f2;
}

.classes__item.classes__item__page .classes__item__pic span {
	padding: 5px 30px 4px 20px;
}

.classes__item__pic {
	height: 241px;
	position: relative;
}

.classes__item__pic span {
	font-size: 14px;
	font-weight: 700;
	color: #f5f3f2;
	display: inline-block;
	padding: 7px 16px 4px;
	background: #58787f;
	position: absolute;
	left: 0;
	top: 10px;
}

.classes__item__text {
	padding: 24px 0 28px 30px;
}

.classes__item__text ul {
	margin-bottom: 10px;
}

.classes__item__text ul li {
	list-style: none;
	font-size: 16px;
	color: #9B9EA3;
	display: inline-block;
	margin-right: 45px;
}

.classes__item__text ul li:last-child {
	margin-right: 0;
}

.classes__item__text ul li span {
	margin-right: 5px;
}

.classes__item__text p {
	color: #9B9EA3;
	margin-bottom: 10px;
}

.classes__item__text h4 {
	margin-bottom: 50px;
}

.classes__item__text h4 a {
	color: #001943;
	line-height: 36px;
}

.classes__item__text h6 {
	color: #001943;
	margin-bottom: 35px;
}

.classes__item__text h6 span {
	color: #9B9EA3;
	font-size: 14px;
}

.classes__item__text .class-btn {
	font-size: 14px;
	font-weight: 700;
	color: #58787f;
	display: inline-block;
	border: 1px solid rgba(155, 158, 163, 0.2);
	padding: 10px 20px 7px;
	border-radius: 2px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.classes__item__text .class-btn:hover {
	background: #58787f;
	border: 1px solid #58787f;
	color: #f5f3f2;
}

.classes__pagination {
	text-align: center;
	padding-top: 30px;
}

.classes__pagination.blog__pagination {
	text-align: left;
	padding-top: 0;
}

.classes__pagination a {
	display: inline-block;
	font-size: 16px;
	color: #9B9EA3;
	background: #f5f6fa;
	font-weight: 700;
	height: 40px;
	width: 40px;
	border: 1px solid #D4D5D8;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	margin-right: 16px;
}

.classes__pagination a:last-child {
	margin-right: 0;
}

.classes__pagination a span {
	font-size: 24px;
	position: relative;
	top: 3px;
}

.classes__pagination a:hover {
	background: #58787f;
	border-color: #58787f;
	color: #f5f3f2;
}


/*---------------------
  Gallery
-----------------------*/

.gallery__pic img {
	min-width: 100%;
}


/*---------------------
  Pricing
-----------------------*/

.pricing {
	padding-top: 80px;
	padding-bottom: 60px;
}

.pricing__item {
	text-align: center;
	background: #f5f3f2;
	box-shadow: 0px 0px 65px rgba(12, 26, 39, 0.05);
	padding: 35px 0 46px;
	position: relative;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	z-index: 1;
	margin-bottom: 40px;
	border-radius: 10px;
	overflow: hidden;
}

.pricing__item .active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	z-index: 9;
}

.pricing__item:hover {
	box-shadow: 0px 0px 65px rgba(12, 26, 39, 0.05);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	z-index: 9;
}

.pricing__item:hover .pricing__item__price h2 {
	color: #58787f;
}

.pricing__item:hover ul li {
	color: #6E7580;
}

.pricing__item:hover .primary-btn {
	background: #58787f;
}

.pricing__item .pricing__item__star {
	height: 119px;
	width: 119px;
	background: #58787f;
	border-radius: 50%;
	position: absolute;
	right: -50px;
	top: -50px;
}

.pricing__item .pricing__item__star i {
	font-size: 35px;
	color: #f5f3f2;
	position: absolute;
	left: 25px;
	bottom: 21px;
}

.pricing__item h4 {
	font-size: 25px;
	color: #001943;
	margin-bottom: 45px;
}

.pricing__item .pricing__item__price {
	margin-bottom: 15px;
}

.pricing__item .pricing__item__price h2 {
	font-size: 70px;
	font-weight: 700;
	color: #585856;
	line-height: 65px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.pricing__item .pricing__item__price span {
	color: #9B9EA3;
	font-size: 15px;
	font-weight: 400;
	display: block;
}

.pricing__item ul {
	margin-bottom: 12px;
}

.pricing__item ul li {
	list-style: none;
	font-size: 18px;
	color: #9B9EA3;
	line-height: 45px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.pricing__item .primary-btn {
	background: #acacac;
	padding: 16px 55px 14px 50px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}


/*---------------------
  Appoinment
-----------------------*/

.appointment {
	position: relative;
	z-index: 9;
}

.appointment .section-title h2 {
	color: #f5f3f2;
}

.appointment__text {
	background: #585856;
	padding: 60px 100px;
}

.appointment__form input {
	width: 100%;
	height: 50px;
	font-size: 16px;
	color: #f5f3f2;
	padding-left: 28px;
	border-radius: 2px;
	background: rgba(245, 243, 242, 0.2);
	border: none;
	margin-bottom: 20px;
}

.appointment__form input::placeholder {
	color: #f5f3f2;
}

.appointment__form textarea {
	width: 100%;
	height: 100px;
	font-size: 16px;
	color: #f5f3f2;
	padding-left: 28px;
	padding-top: 15px;
	border-radius: 2px;
	background: rgba(245, 243, 242, 0.2);
	border: none;
	margin-bottom: 34px;
}

.appointment__form textarea::placeholder {
	color: #f5f3f2;
}

.appointment__form .nice-select {
	width: 100%;
	height: 50px;
	padding-left: 28px;
	background: rgba(245, 243, 242, 0.2);
	border-radius: 2px;
	line-height: 50px;
	border: none;
	margin-bottom: 20px;
}

.appointment__form .nice-select:after {
	border-bottom: 3px solid #f5f3f2;
	border-right: 3px solid #f5f3f2;
	height: 10px;
	width: 10px;
	right: 20px;
	top: 44%;
}

.appointment__form .nice-select .list {
	width: 100%;
	border-radius: 0;
	margin-top: 0;
}

.appointment__form .nice-select span {
	font-size: 16px;
	color: #f5f3f2;
}

.appointment__form button {
	font-size: 14px;
	color: #58787f;
	text-transform: uppercase;
	display: inline-block;
	background: #f5f3f2;
	padding: 14px 35px 12px;
	border-radius: 2px;
	border: none;
	font-weight: 700;
	letter-spacing: 2px;
}

/*---------------------
  Testimonial
-----------------------*/

.testimonial {
	background: #f5f6fa;
	padding-top: 415px;
	margin-top: -315px;
}

.testimonial__slider.owl-carousel .owl-item img {
	width: auto;
}

.testimonial__slider.owl-carousel .owl-dots {
	text-align: center;
	margin-top: 36px;
}

.testimonial__slider.owl-carousel .owl-dots button {
	height: 9px;
	width: 9px;
	background: #8a8e9e;
	border-radius: 50%;
	margin-right: 20px;
	position: relative;
}

.testimonial__slider.owl-carousel .owl-dots button:after {
	position: absolute;
	left: -7px;
	top: -7px;
	height: 23px;
	width: 23px;
	border: 2px solid #8a8e9e;
	border-radius: 50%;
	content: "";
	opacity: 0;
}

.testimonial__slider.owl-carousel .owl-dots button.active {
	background: #58787f;
}

.testimonial__slider.owl-carousel .owl-dots button.active:after {
	opacity: 1;
}

.testimonial__slider.owl-carousel .owl-dots button:last-child {
	margin-right: 0;
}

.testimonial__text {
	text-align: center;
	position: relative;
	padding-top: 70px;
}

.testimonial__text:before {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	content: '"';
	color: #58787f;
	font-size: 160px;
	line-height: 119px;
	margin: 0 auto;
}

.testimonial__text p {
	font-size: 36px;
	color: #585856;
	line-height: 48px;
	margin-bottom: 35px;
}

.testimonial__text img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin: 0 auto;
}

.testimonial__text h5 {
	font-size: 20px;
	color: #585856;
	font-weight: 700;
	margin-top: 15px;
}

.testimonial__text h5 span {
	font-size: 18px;
	color: #9B9EA3;
	font-weight: 400;
}
